<div class="container">
    <div id="hero" class="row sm-middle">
        <div class="sm-col12 sm-mb2 md-col7">
            <h1 class="mb2"><strong>Free</strong> and <strong>open-source</strong><br>two-factor authentication</h1>
            <p>Authenticator Pro is a <strong>free</strong> and open-source <strong>two-factor authentication app</strong> for Android. It features <strong>encrypted backups</strong>, icons, categories, a high level of customisation and even a <strong>Wear OS app</strong>.</p>
            <p class="mb3">Unlike some alternative apps, Authenticator Pro gives you control over your data. You can <strong>import</strong> from other apps and <strong>export</strong> at any time.</p>

            <a href="/download" class="button primary mr sm-mb"><i class="icon-file_download"></i>Download the app</a>
            <a href="https://github.com/jamie-mh/AuthenticatorPro" class="button neutral sm-mb" rel="nofollow"><i class="icon-github"></i>View on GitHub</a>
        </div>
        <div class="sm-col12 md-col4 md-col-offset1">
            <div class="aspect md" style="padding-top: 127.648578811%">
                <div class="inner sm-center">
                    <img src="/img/hero.png" alt="Free and open-source two-factor authentication app" class="mw100">
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <section>
            <h2 class="mb2">Features</h2>

            <div class="row gaps md-mb2">
                <div class="sm-col">
                    <h3 class="mb"><i class="icon-save"></i>Backup and Restore</h3>
                    <p>Backup your authenticators with strong encryption. In case you lose or change your phone, you can still log in.</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-settings"></i>Compatibility</h3>
                    <p>Authenticator Pro is compatible with most providers and accounts using TOTP, HOTP, mOTP and more</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-signal_wifi_off"></i>Offline</h3>
                    <p>Authenticator Pro only requires a single permission and does not require Internet access to function</p>
                </div>
            </div>

            <div class="row gaps md-mb2">
                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-input"></i>Import</h3>
                    <p>Easily migrate your accounts to Authenticator Pro from supported alternative apps</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-https"></i>Security</h3>
                    <p>Set a password and use biometric authentification to protect your codes with encryption</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-emoji_symbols"></i>Icons</h3>
                    <p>Find your authenticators easily with recognisable brand logos and icons next to each code</p>
                </div>
            </div>

            <div class="row gaps">
                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-category"></i>Categories</h3>
                    <p>Organise your authenticators into categories to quickly narrow down your selection</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-brush"></i>Customisation</h3>
                    <p>Change density and accent colour. You can also arrange your authenticators in any order you like, so you can find them easily.</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-watch"></i>Wear OS</h3>
                    <p>Quickly view your authenticators directly from your watch. Please note that a connection to your Android device is required.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="mb2">Screenshots</h2>

            <div class="row gaps md-mb2">
                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Main screen</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot1.png" alt="Main screen screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Dark theme</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot2.png" alt="Dark theme screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Compact density</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot3.png" alt="Compact density screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Category</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot4.png" alt="Category screenshot" class="mw100">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gaps mb3">
                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Tile density</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot5.png" alt="Tile density screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Tap to reveal</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot6.png" alt="Tap to reveal screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Import menu</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot7.png" alt="Import menu screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Main menu</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot8.png" alt="Main menu screenshot" class="mw100">
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mb2">Wear OS companion</h2>

            <div class="row gaps">
                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Main screen</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot1.png" alt="Main Wear OS screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Code screen</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot2.png" alt="Wear OS code screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Category menu</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot3.png" alt="Wear OS category menu screenshot" class="mw100">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Offline mode</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot4.png" alt="Wear OS offline mode screenshot" class="mw100">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>