<div class="container">
    <header id="hero" class="row sm-middle">
        <div class="sm-col12 sm-mb2 md-col7">
            <h1 class="mb2"><strong>Free</strong> and <strong>open-source</strong><br>two-factor authentication</h1>
            <p>Authenticator Pro is a <strong>free</strong> and open-source <strong>two-factor authentication app</strong> for Android. It features <strong>encrypted backups</strong>, icons, categories, a high level of customisation and even a <strong>Wear OS app</strong>.</p>
            <p class="mb3">Unlike some alternative apps, Authenticator Pro gives you control over your data. You can <strong>import</strong> from other apps and <strong>export</strong> at any time.</p>

            <a href="/download" class="button primary mr sm-mb"><i class="icon-file_download"></i>Download the app</a>
            <a href="https://github.com/jamie-mh/AuthenticatorPro" class="button neutral sm-mb" rel="nofollow noopener"><i class="icon-github"></i>View on GitHub</a>
        </div>
        <div class="sm-col12 md-col4 md-col-offset1">
            <div class="aspect md" style="padding-top: 136.338797814%">
                <div class="inner sm-center">
                    <img src="/img/hero.png" srcset="/img/hero.png 326w /img/hero-2x.png 733w" width="326" height="444" alt="Free and open-source two-factor authentication app" class="mw100">
                </div>
            </div>
        </div>
    </header>

    <main id="content">
        <section class="mb2">
            <h2 class="mb2">What is Authenticator Pro?</h2>

            <div class="row reverse gaps2 sm-middle">
                <div class="sm-col12 sm-mb md-col2">
                    <img src="/img/icon.svg" alt="Authenticator Pro icon" width="100" height="100">
                </div>
                <div class="sm-col12 md-col10">
                    <p>Authenticator Pro is a <strong>community-backed</strong> <strong>open-source</strong> project which aims to provide <strong>privacy</strong> and <strong>security</strong> to users. The source-code is auditable by anyone on GitHub and released under the <a href="https://github.com/jamie-mh/AuthenticatorPro/blob/master/LICENSE" rel="noreferrer">GPL 3.0 license</a>. The project has no corporate ties or interests but, rather has the purpose of providing a <strong>secure</strong> and <strong>private</strong> two-factor authentication solution to the privacy conscious.</p>
                    <p>Unlike alternative user-hostile applications, Authenticator Pro does not lock-in your data or communicate with distant servers. Everything is safely protected in the app and can be exported at any time. In addition to the privacy benefits, the app has many quality-of-life improvements for better usability.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="mb2">Features</h2>

            <div class="row gaps md-mb2">
                <div class="sm-col">
                    <h3 class="mb"><i class="icon-save"></i>Backup and Restore</h3>
                    <p>Backup your authenticators with strong encryption. In case you lose or change your phone, you can still log in.</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-settings"></i>Compatibility</h3>
                    <p>Authenticator Pro is compatible with most providers and accounts using TOTP, HOTP, mOTP and more</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-signal_wifi_off"></i>Offline</h3>
                    <p>Authenticator Pro only requires a single permission and does not require Internet access to function</p>
                </div>
            </div>

            <div class="row gaps md-mb2">
                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-input"></i>Import</h3>
                    <p>Easily migrate your accounts to Authenticator Pro from supported alternative apps</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-https"></i>Security</h3>
                    <p>Set a password and use biometric authentification to protect your codes with encryption</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-emoji_symbols"></i>Icons</h3>
                    <p>Find your authenticators easily with recognisable brand logos and icons next to each code</p>
                </div>
            </div>

            <div class="row gaps">
                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-category"></i>Categories</h3>
                    <p>Organise your authenticators into categories to quickly narrow down your selection</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-brush"></i>Customisation</h3>
                    <p>Change density and accent colour. You can also arrange your authenticators in any order you like, so you can find them easily.</p>
                </div>

                <div class="sm-col12 md-col4">
                    <h3 class="mb"><i class="icon-watch"></i>Wear OS</h3>
                    <p>Quickly view your authenticators directly from your watch. Please note that a connection to your Android device is required.</p>
                </div>
            </div>
        </section>

        <section class="mb3">
            <h2 class="mb2">Screenshots</h2>
            <p class="mb2">The app uses the Material You design language. You can choose between dynamic colour or preset accent colours in either light, dark or black themes. Futhermore, different display densities are available to view more or fewer codes at a single glance.</p>

            <div class="row gaps md-mb2">
                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Main screen</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot1.png" alt="Main screen screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Dark theme</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot2.png" alt="Dark theme screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Compact density</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot3.png" alt="Compact density screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Category</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot4.png" alt="Category screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gaps mb3">
                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Tile density</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot5.png" alt="Tile density screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 sm-mb2 md-col3">
                    <h3 class="mb2">Tap to reveal</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot6.png" alt="Tap to reveal screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Import menu</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot7.png" alt="Import menu screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="mb2">Main menu</h3>

                    <div class="aspect" style="padding-top: 216.666666667%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/screenshot8.png" alt="Main menu screenshot" class="rounded mw100" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mb2">Wear OS companion</h2>
            <p class="mb2">For your convenience, you can download the Wear OS companion app to quickly view your authentication codes from your watch. Your database is synced from the phone, so you can access your accounts offline.</p>

            <div class="row gaps">
                <div class="sm-col6 md-col3">
                    <h3 class="text-center mb2">Main screen</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot1.png" alt="Main Wear OS screenshot" class="mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="text-center mb2">Code screen</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot2.png" alt="Wear OS code screenshot" class="mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="text-center mb2">Category menu</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot3.png" alt="Wear OS category menu screenshot" class="mw100" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="sm-col6 md-col3">
                    <h3 class="text-center mb2">Offline mode</h3>

                    <div class="aspect" style="padding-top: 100%">
                        <div class="inner sm-center">
                            <img src="/img/screenshot/wearos_screenshot4.png" alt="Wear OS offline mode screenshot" class="mw100" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb2">
            <h2 class="mb2">About two-factor authentication</h2>
            <p>Two-factor authentication provides an extra layer of security to your online accounts by requiring a second check when logging in. In addition to your password, you are prompted for a rolling code generated by Authenticator Pro. This certifies that you are who you say you are and keeps the bad actors out, even if they know your password.</p>
            <p>Most services require a TOTP code as specified in <a href="https://datatracker.ietf.org/doc/html/rfc6238" rel="nofollow noopener noreferrer" target="_blank">RFC 6238</a>. This code is generated using two things, the current time on your device and a shared secret. For security, every 30 seconds, the code will change. In the vast majority of cases, you can set up two-factor authentication (2FA) by scanning a simple QR code, after which authentication codes will be continuously generated.</p>
            <p>With database leaks and hacks happening every day, 2-factor authentication is the easiest way to harden your accounts and protect against account and information theft.</p>
        </section>

        <section>
            <h2 class="mb2">Download the app</h2>

            <div class="sm-center">
                <p>Convinced? Head on over to the <a href="/download">download page</a> to view the different download options</p>
                <a href="/download" class="button primary md-mr sm-mt"><i class="icon-file_download"></i>Download the app for free</a>
                <a href="https://github.com/jamie-mh/AuthenticatorPro" class="button neutral sm-mt" rel="nofollow noopener"><i class="icon-github"></i>View the source code on GitHub</a>
            </div>
        </section>
    </main>
</div>