<div class="container">
    <div id="hero" class="row sm-middle">
        <div class="sm-col12 sm-mb2 md-col7">
            <h1 class="mb2"><strong>Free</strong> and <strong>open-source</strong><br>two-factor authentication</h1>
            <p class="mb3">Authenticator Pro is a <strong>free</strong> and open-source <strong>two-factor authentication app</strong> for Android. It features <strong>encrypted backups</strong>, icons, categories, a high level of customisation and even a <strong>Wear OS app</strong>.</p>

            <a href="/download" class="button primary mr sm-mb"><i class="icon-file_download"></i>Download the app</a>
            <a href="https://github.com/jamie-mh/AuthenticatorPro" class="button neutral sm-mb" rel="nofollow"><i class="icon-github"></i>View on GitHub</a>
        </div>
        <div class="sm-col12 md-col4 md-col-offset1">
            <div class="aspect md" style="padding-top: 127.648578811%">
                <div class="inner sm-center">
                    <img src="/img/hero.png" alt="Free and open-source two-factor authentication app" class="mw100">
                </div>
            </div>
        </div>
    </div>
</div>