<footer id="foot">
    <div class="container">
        Authenticator Pro - &copy; <a href="https://jmh.me">jmh</a> {{ "now"|date("Y")  }}
    </div>
</footer>

{% for script in scripts %}
    <script defer src="/dist/{{ script }}"></script>
{% endfor %}

<script defer src="/dist/main.js"></script>

</body>
</html>
