<footer id="foot">
    <div class="container">
        Authenticator Pro - &copy; <a href="https://jmh.me">jmh</a> {{ "now"|date("Y")  }}
    </div>
</footer>

<script defer src="/dist/{{ asset_hash("main.js") }}"></script>

</body>
</html>
