<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">

    <title>{{ meta.title }} - Authenticator Pro</title>
    <meta name="description" content="{{ meta.description }}">

    <link rel="preload" href="/fonts/rubik-v26-latin-regular.woff2" as="font">
    <link rel="preload" href="/fonts/rubik-v26-latin-500.woff2" as="font">
    <link rel="preload" href="/fonts/roboto-mono-v22-latin-regular.woff2" as="font">
    <link rel="preload" href="/fonts/icomoon.woff" as="font">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/dist/{{ asset_hash("main.css") }}">
<body>

<div class="container">
    <header id="head">
        <a href="/" id="logo">
            <img src="/img/logo.svg" alt="Authenticator Pro" width="203" height="40">
        </a>

        <nav id="nav">
            <button id="close-menu"><i class="icon-clear"></i>Close</button>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/wiki">Wiki</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/feedback">Feedback</a></li>
            </ul>
        </nav>

        <button id="open-menu"><i class="icon-menu"></i></button>
    </header>
</div>
