<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">

    <title>{{ meta.title }} - Authenticator Pro</title>
    <meta name="description" content="{{ meta.description }}">

    <link rel="stylesheet" href="/dist/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<body>

<div class="container">
    <header id="head">
        <a href="/" id="logo">
            <img src="/img/logo.svg" alt="Authenticator Pro" width="203" height="40">
        </a>

        <nav id="nav">
            <button id="close-menu"><i class="icon-clear"></i>Close</button>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/wiki">Wiki</a></li>
                <li><a href="/tools">Tools</a></li>
            </ul>
        </nav>

        <button id="open-menu"><i class="icon-menu"></i></button>
    </header>
</div>
