<div class="container">
    <header id="hero">
        <h1 class="mb">{{ meta.title }}</h1>
        <p class="mb0">{{ meta.description }}</p>
    </header>

    <main id="content">
        <p class="mb2">Authenticator Pro is an open-source app. This SERVICE is provided by jmh at no cost and is intended for use as is as per the GPL 3 license. This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my Service.</p>

        <h2 class="mb">Information Collection and Use</h2>
        <p class="mb2">The app does not collect any data and does not use third party services that may collect information used to identify you.</p>

        <h2 class="mb">Log Data</h2>
        <p class="mb2">I want to inform you that whenever you use my Service, in a case of an error in the app, you can provide data and information on from your phone (at your discretion) called Log Data. This Log Data may include information such as your device name, operating system version, the configuration of the app when utilizing my Service, the time and date of your use of the Service, and other statistics.</p>

        <h2 class="mb">Links to Other Sites</h2>
        <p class="mb2">This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

        <h2 class="mb">Children's Privacy</h2>
        <p class="mb2">These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. Despite this, if this is a concern, please abstain from using the Service.</p>

        <h2 class="mb">Changes to the Privacy Policy</h2>
        <p>I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>
    </main>
</div>