<div class="container">
    <div id="hero">
        <h1 class="mb">Wiki</h1>
        <p class="mb0">Welcome to the Authenticator Pro wiki</p>
    </div>

    <div id="content">
        <p class="mb2">This wiki contains useful tips and tricks for using Authenticator Pro. Check out the links below for information.</p>

        {% include "wiki/toc.twig" %}
    </div>
</div>
