<div class="container">
    <header id="hero">
        <h1 class="mb">{{ meta.title }}</h1>
        <p class="mb0">{{ meta.description }}</p>
    </header>

    <main id="content">
        <p class="mb2">This wiki contains useful tips and tricks for using Authenticator Pro. Check out the links below for information.</p>
        {% include "wiki/toc.twig" %}
    </main>
</div>
