<ul>
    <li><a href="/wiki/faq">Frequently Asked Questions</a></li>
    <li><a href="/wiki/backup-format">Backup File Format</a></li>
    <li><a href="/wiki/import-from-google-authenticator">Importing from Google Authenticator</a></li>
    <li><a href="/wiki/import-from-authy">Importing from Authy</a></li>
    <li><a href="/wiki/import-from-blizzard-authenticator">Importing from Blizzard Authenticator</a></li>
    <li><a href="/wiki/import-from-steam">Importing from Steam</a></li>
</ul>
